{% import "ManageBundle:layout:macros.html.twig" as macro %}
<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Avanzu Admin!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/core/common/favicon.ico') }}" />
    {# -------------------------------------------------------------------------------------------------- STYLESHEETS #}
    {% block stylesheets %}
    {% for style in admin_theme.styles %}
    <link rel="stylesheet" href="{{ asset(style) }}" />
    {% endfor %}
    {% endblock %}

    {# --------------------------------------------------------------------------------------------- JAVASCRIPTS_HEAD #}
    {%  block javascripts_head %}
        {% for script in admin_theme.scripts %}
        	 <script src="{{ asset(script) }}" ></script>
        {% endfor %}
        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/core/common/libs/html5shiv/html5shiv.min.js') }}"></script>
        <script src="{{ asset('bundles/core/common/libs/respond/respond.min.js') }}"></script>
        <![endif]-->

    {% endblock %}

</head>
<body class="login-page">
{% block page_content %}{% endblock %}


{# ------------------------------------------------------------------------------------------------------ JAVASCRIPTS #}
{% block javascripts %}

{% endblock %}

{# ----------------------------------------------------------------------------------------------- JAVASCRIPTS_INLINE #}
{% block javascripts_inline %}
{% endblock %}
</body>
</html>
