{% block box_collapse %}
    <button class="btn btn-{{ type|default('info') }} btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
{% endblock %}
{% block box_remove %}
    <button class="btn btn-{{ type|default('info') }} btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
{% endblock %}

{% block box_header_buttons %}
    {% if collapse or remove %}
        <div class="box-tools pull-right">
            {% if collapse %}
                {{ block('box_collapse') }}
            {% endif %}
            {% if remove %}
                {{ block('box_remove') }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% macro box_header(title, collapse, remove, type) %}

    <div class="box-header">
        <h3 class="box-title">{{ title }}</h3>
        {{ block('box_header_buttons') }}
    </div>
{% endmacro %}


{% macro avatar(image, alt, class) %}
    {% if image %}
        <img src="{{ asset(image) }}" class="{{ class|default('img-circle') }}" alt="{{ alt }}" />
    {% else %}
        <img src="{{ asset('bundles/avanzuadmintheme/img/avatar.png') }}" class="{{ class|default('img-circle') }}" alt="{{ alt }}" />
    {% endif %}
{% endmacro %}

{% macro menu_item(item) %}
    {% if item.route or item.hasChildren %}
        <li id="{{ item.identifier }}" class=" {{ item.isActive ? 'active' : '' }} {{ item.hasChildren? 'treeview' : '' }}">
            <a href="javascript:void(0);" data-url="{{ item.hasChildren ? '#': '/' in item.route ? item.route : path(item.route, item.routeArgs) }}">
                {% if item.icon %} <i class="{{ item.icon }}"></i> {% endif %}
                <span>{{ item.label }}</span>
                {% if item.badge %}
                    <small class="label pull-right bg-{{ item.badgeColor }}">{{ item.badge }}</small>
                {% endif %}
                {% if item.hasChildren %}<i class="fa fa-angle-left pull-right"></i>{% endif %}
            </a>

            {% if item.hasChildren %}
                <ul class="treeview-menu">
                    {% for child in item.children %}
                        <li class="{{ child.isActive ? 'active':'' }} {{ child.hasChildren? 'treeview' : '' }}" id="{{ child.identifier }}">
                            <a href="javascript:void(0);" data-url="{{ child.hasChildren ? '#': '/' in child.route ? child.route : path(child.route, child.routeArgs) }}">
                                <i class="{{ child.icon|default('fa fa-circle-o') }}"></i>
                                {{ child.label }}
                                {% if child.badge %}
                                    <small class="label pull-right bg-{{ child.badgeColor }}">{{ child.badge }}</small>
                                {% endif %}
                                {% if child.hasChildren %}<i class="fa fa-angle-left pull-right"></i>{% endif %}
                            </a>
                            {% if child.hasChildren %}
                                <ul class="treeview-menu">
                                    {% for subchild in child.children %}
                                        <li class="{{ subchild.isActive ? 'active':'' }}" id="{{ subchild.identifier }}">
                                            <a href="javascript:void(0);" data-url="{{ '/' in subchild.route ? subchild.route : path(subchild.route, subchild.routeArgs) }}">
                                                <i class="{{ subchild.icon|default('fa fa-circle-o') }}"></i>
                                                {{ subchild.label }}
                                                {% if subchild.badge %}
                                                    <small class="label pull-right bg-{{ subchild.badgeColor }}">{{ subchild.badge }}</small>
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% else %}
        <li class="header">
            {{ item.label }}
            {% if item.badge %}
                <small class="label pull-right bg-{{ item.badgeColor }}">{{ item.badge }}</small>
            {% endif %}
        </li>
    {% endif %}
{% endmacro %}
